<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="WebApp_ID"
        version="2.5">


    <servlet>
        <servlet-name>greeting</servlet-name>
        <servlet-class>me.yifeiyuan.GreetingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>greeting</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>custom</servlet-name>
        <servlet-class>me.yifeiyuan.CustomServlet</servlet-class>

        <init-param>
            <param-name>name</param-name>
            <param-value>Fitz</param-value>
        </init-param>
        <init-param>
            <param-name>age</param-name>
            <param-value>22</param-value>
        </init-param>

        <init-param>
            <param-name>arg2</param-name>
            <param-value>another arg</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>custom</servlet-name>
        <url-pattern>/custom</url-pattern>
    </servlet-mapping>

</web-app>